.rootContainer {
    width: 100%;
    display: grid;
    grid-template-rows: [header-start] var(--header-height) [header-end content-start] 1fr [content-end];
    grid-template-columns: [content-start] 1fr [content-end];
}

.header {
    grid-area: header;
    grid-column: 1 / -1;
    grid-row: 1;
    height: var(--header-height);
    width: 100%;
}

.content {
    grid-area: content;
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    padding: 32px 24px;
    overflow-y: auto;
    overflow-x: hidden;

    @media (max-width: 768px) {
        padding: 24px 16px;
    }

    @media (max-width: 480px) {
        padding: 16px 12px;
    }
}