.inputWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 12px;
    transition: border-color 0.3s;
    background-color: var(--card-bg-color);
}

.inputContainer:focus-within {
    border-color: var(--primary);
}

.label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--primary);
    background-color: var(--card-bg-color);
    padding: 0 4px;
    pointer-events: none;
    transition: all 0.2s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
}

.input:focus + .label, .labelFloating {
    top: -8px;
    left: 8px;
    font-size: 12px;
    color: var(--primary);
}

.icon {
    margin-right: 8px;
    color: #888;
    display: flex;
    align-items: center;
}

.input {
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 0;
    font-size: 16px;
    background-color: transparent;
    z-index: 0;
    transition: all 0.3s ease;
    color: var(--secondary-text-color);
}

.input:disabled {
    background-color: #f9f9f9;
    cursor: not-allowed;
}

.errorBorder {
    border-color: #f44336;
}

.errorText {
    color: #f44336;
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
}
