.sidebarContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    padding: 20px 10px;
    box-shadow: 3px 6px 6px hsl(0deg 0% 0% / 0.4);
    transition: width 0.5s ease-in-out;
    position: fixed;
    height: calc(100vh - 90px);

    @media (max-width: 768px) {
        width: 0;
    }
}

.sidebarOpen {
    @media (max-width: 768px) {
        width: var(--sidebar-width-open);

        .icon {
            display: flex;
        }
    }
}

.innerContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon {
    fill: var(--secondary-text-color);
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: transparent;
    transition: all 0.3s ease-in-out;

    &:hover {
        fill: var(--primary-text-color);
    }

    & > span {
        display: none;
    }

    @media (max-width: 768px) {
        display: none;
        align-items: center;

        & > svg {
            width: 40px;
            margin-right: 20px;
        }

        & > span {
            display: block;
            font-size: 1.5rem;
            color: var(--secondary-text-color);
        }
    }
}

.active {
    fill: var(--primary-text-color);
}
