.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 30px;
}

.itemContainer {
    scroll-margin-top: calc(var(--header-height) + 30px);
}

.categoryTitle {
    margin-bottom: 10px;
}