@import 'ress/ress.css';

:root {
    --primary: oklch(84.71% 0.2 84.93);
    --primary-dark: oklch(0.794 0.171 71.188);
    --primary-disabled: oklch(84.71% 0.2 84.93 / 0.5);
    --bg-color: #000000cc;
    --card-bg-color: #2c2c2e;
    --card-bg-color-secondary: #2f2f31;
    --shadow-color: oklch(84.71% 0.2 84.93);
    --primary-text-color: var(--primary);
    --secondary-text-color: #fff;
    --header-height: 50px;
    --sidebar-width: 60px;
    --sidebar-width-open: 350px;

    --dota2-color: #e74c3c;
    --dota2-color--secondary: #c0392b;
    --cs2-color: #2980b9;
    --cs2-color--secondary: #3498db;

    font-family: Roboto, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    background-color: var(--bg-color);
    color: var(--primary-text-color);

    color-scheme: light;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: inherit;
    color: inherit;
    text-decoration: inherit;
}
a:hover {
    color: inherit;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    scroll-padding-top: var(--header-height);
}

div#root {
    display: flex;
    flex: 1;
    max-width: 100vw;
    overflow-x: hidden;
}
