.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    padding: 25px;
    align-items: center;
}

.dayContainer {
    margin-bottom: 40px;
    max-width: 1200px;
}